@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    font-size: 12px;
    scroll-padding-top: 107.7px;
    overflow-x: hidden;

}

@media screen and (min-width: 300px) {
    html {
        font-size: calc(12px + 6 * ((100vw - 320px) / 680));
    }
    #calendar {
        height: calc(70vh + 12 * ((100vh - 320px) / 680));
    }
    .fc-event-main-frame {
        font-size: calc(12px + 2 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 768px) {
    html {
        font-size: calc(12px + 6 * ((100vw - 768px) / 680));
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #fef9f3;
    overflow-x: hidden;

}

hr {
    margin: 68px 0 40px 0;
}

@media (max-width: 575px) {
    #intro {
        background-image: url('../images/pomost_hp_lq_mobile.webp') !important;
    }
}

#intro {
    background-image: url('../images/pomost_hp_lq.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.bi, .adres {
    color: #442200;    
}

@media (max-width: 400px) {
    .fc-col-header-cell-cushion {
        font-size: .9rem !important;
    }
}

@media (max-width: 767px) {
    .fc .fc-toolbar.fc-header-toolbar {
        display: flex;
        flex-direction: column;
    }

    .fc .fc-toolbar-title {
        text-align: center;
        font-size: 1.5rem;
    }
    .fc-button-group {
        margin-left: 0px !important;
    }

    .fc-h-event .fc-event-main-frame {
        flex-direction: column;
    }
    .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
        margin-left: .75em !important;
    }

}

@media (min-width: 768px) {
    .fc .fc-toolbar-title {
        text-align: left;
    }
    .fitssey {
        min-height: 100vh;
    }
}

.fc-toolbar-chunk {
    margin-bottom: .5rem;
}

.fc-col-header-cell-cushion, .fc-daygrid-day-number {
    color: #6c757d;
    font-size: 1rem;
    text-decoration: none;
}
.fc-toolbar-title {
    width: 236px;
    
}
.fc-button-group {
    margin-left: -77px;
}
.fc-event-time {
    font-weight: normal !important;
}
.fc-event[href] {
    cursor: default;
}
.fc-daygrid-event {
    word-wrap: normal !important;
    white-space: normal !important;
    align-items: normal !important;
}

.fc-event-title, .fc-event-time {
    font-size: .9rem;
}

/* #omnie {
    min-height: 60vh;
} */

.table-color {
    background-color: transparent !important;
    font-size: 1rem !important;
}

#kontakt {
    background-color: #f8cd96;
    scroll-margin-top: -40px;
}

.social-icon {
    font-size: 4rem;
}

#maps-gora {
    font-size: 2rem;
}

.slajd {
    margin-top: 40px;
    min-height: 80vh;
   
}

.lb-auth-widget__user {
    display: inline;
}

ul.lb-auth-widget__nav {
    list-style: none;
    padding: 0;
    display: inline-flex;
    /* padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x); */
}

li.lb-auth-widget__nav__item {
    display: inline;
}

.lb-auth-widget__nav__item--login a, .lb-auth-widget__nav__item--signup a {
    display: inline;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x) !important;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.lb-auth-widget__nav__item--login a {
    margin-right: var(--bs-nav-link-padding-y);
}

.lb-auth-widget__nav__item--signup a {
    margin-left: var(--bs-nav-link-padding-y);
}

.lb-auth-widget__nav__item--login a:hover, .lb-auth-widget__nav__item--signup a:hover {
    color: var(--bs-nav-link-hover-color);
}

.lb-auth-widget__wrapper {
    height: 42px;
}

.lb-auth-widget__user__details {
    display: flex;

}

.lb-auth-widget__user__first-name {
    padding-right: var(--bs-nav-link-padding-y);
    margin: 0;
}

.lb-auth-widget__user__last-name {
    margin: 0;
}

.nav-link {
    font-size: 1.25rem;
    white-space: nowrap;
    
}

@media (max-width: 991px) {

    .carousel-indicators {
        bottom: -3rem !important;
        margin-top: 0;
    }

    .nav-link {
        font-size: 1.5rem;
        border-top: 1px solid #f8cd96;
    }

    .mapa-dojazdu {
        width: 100%;
    }

    ul.lb-auth-widget__nav {
        display: block;
    }

    .lb-auth-widget__nav__item--login a {
        margin: 0;
        width: 100%;
        display: block;
        
    }

    .lb-auth-widget__nav__item--signup a {
        margin: 0;
        border-top: 1px solid #f8cd96;
        width: 100%;
        display: block;
        
    }

    .lb-auth-widget__wrapper {
        height: 32px;
    }

    .lb-auth-widget__user__details {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        padding-top: var(--bs-nav-link-padding-y);
    }

}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 25vh;
    width: 10vw;
    filter: invert(100%);
}
.carousel-control-next-icon {
    animation: animName 5s linear infinite;
    position: relative;
}

@keyframes animName {
    0%{
        transform: rotate(0deg);
    }
    3%{
        transform: rotate(10deg);
    }
    6%{
        transform: rotate(-10deg);
    }
    9%{
        transform: rotate(10deg);
    }
    12%{
        transform: rotate(-10deg);
    }
    15%{
        transform: rotate(0deg);
    }
}

#pastelowaCarousel {
    margin-bottom: 0 !important;
    padding-top: .35rem !important;
}

.carousel {
    bottom: 40px;
    scroll-margin-top: -40px;
    margin-bottom: 91.7px;
}

.carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
    
}

.carousel-indicators [data-bs-target]{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    filter: invert(100%);
}

.carousel-indicators button {
    background-color:darkorange !important;
}

.carousel-indicators .active {
    background-color:darkorange !important;
}

.google-play {
    max-width: 180px;

}

.app-store {
    max-width: 180px;

}

.efitness-logo {
    height: 8rem;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: none;
    border-radius: 50%;
    background: rgba(255, 140, 0, .5);
    width: 4rem;
    height: 4rem;
  }


  * {
    margin: 0;
    padding: 0; 
  }
  
#navbarNav {
    margin-top: 10px;
}


  /* Icon 1 */
  
  #nav-icon3 {
    width: 40px;
    height: 30px;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

.navbar-toggler {
    border: none;
}
  
#nav-icon3 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #f8cd96;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
  
  /* Icon 3 */
  
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 13px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 25px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }


  .loader-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fef9f3;
    z-index: 10000;
}

  .custom-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #f8cd96;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: s7 1s infinite steps(8);
    z-index: 10001;
  }
  
  @keyframes s7 {
    100% {transform: rotate(1turn)}
  }

  #ikonaKwalifikacje, #telefon, .navbar-brand {
    cursor: pointer;
  }

  .modal-backdrop {
    z-index: -1;
  }

  .modal-open {
    padding-right: 0 !important;
  }

  #stopka {
    font-size: 1rem;
    text-align: center;
    color: #fef9f3;
    background-color: darkorange;
    height: 10vh;
  }

  .belka {
    flex-wrap: nowrap !important;
  }

  @media (max-width: 768px) {
    #stopka {
        flex-direction: column-reverse;
        
    }
}

  .footer a {
    text-decoration: none;
    color:#fef9f3
  }

  .footer a:hover {
    color: #442200;
  }

  .zajecia {
    font-weight: bold;
  }